/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(229, 229, 138);
}

ul,ol {
    list-style: none;
}

/* LAYOUT */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
}

/* HEADER */

.page-header {
    background-color: white;
    padding: 10px 24px;
}

.page-header .logo {
    width: 120px;
}



/* MAIN */

.main-content {
    background-color: white;
    border-radius: 10px;
}

.button-task, .button-section {
    border-radius: 5px;
    padding: 4px;
    margin: 6px;
}

.main-button {
    border-bottom: 1px solid;
}

.button-task {
    background-color: rgb(118, 171, 233);
    border-style: none;

}

.button-section {
    border-style: 0,5px solid;

}

.main-list {
    margin-top: 20px;
}

ul {
    margin-bottom: 20px;
}

li{
    padding: 5px 0;
}

.check-mark {
    color: green;
    border: 1px solid;
    border-radius:50%;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

.cross {
    color:red;
    border: 1px solid;
    border-radius:50%;
    padding: 1px;
     display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

.editorial {
    background-color: rgb(118, 171, 233);
    border-radius: 20px;
    padding: 4px;
}

.q1-goals {
    background-color: rgb(175, 40, 173);
    border-radius: 20px;
    padding: 4px;
}

.recruiting {
    background-color: rgb(12, 158, 78);
    border-radius: 20px;
    padding: 4px;
}

.mobile {
    background-color: rgb(250, 142, 9);
    border-radius: 20px;
    padding: 4px;
}

.website {
    background-color: rgb(250, 9, 97);
    border-radius: 20px;
    padding: 4px;
}

.sales {
    background-color: rgb(162, 250, 9);
    border-radius: 20px;
    padding: 4px;
}