/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(229, 229, 138);
}

ul,ol {
    list-style: none;
}

/* LAYOUT */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 24px;
}

/* HEADER */

.page-header {
    background-color: white;
    padding: 10px;
}

.logo {
    width: 120px;
}

/* MAIN */

.container {
    background-color: white;
}

.button-task, .button-section {
    border-radius: 5px;
    padding: 4px;
}

.main-button {
    border-bottom: 1px solid;
}

.button-task {
    background-color: rgb(118, 171, 233);
    border-style: none;

}

.button-section {
    border-style: 0,5px solid;

}
